<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Planets</h3>
</div>


<canvas id="canvas" width="640" height="480" tabindex='1'></canvas>

<div style="text-align:center">
    <h2>Planetary</h2>
    <div style="margin:auto;width:640px;padding:2px;border:1px solid #888;text-align:left">            
    
        <!--<canvas id="canvas" width="480" height="320" tabindex='1'></canvas>-->
        <div style="width:636px;padding:2px;background-color:#ddd">
        <br>
           
    </div>        
</div>


<ul>
  <li class="dropdown">
    <a class="dropdown-toggle">
      Click me to see some awesome things!
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="thing in awesomeThings">
        <a>{{thing}}</a>
      </li>
    </ul>
  </li>
</ul>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
